# Merging DataFrames with pandas

## Preparing data

###  Reading DataFrames from multiple files

In [ ]:
# Import pandas
import pandas as pd

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv('Bronze.csv')

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv('Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv('Gold.csv')

# Print the first five rows of gold
print(gold.head())

### Reading DataFrames from multiple files in a loop

In [ ]:
# Import pandas
import pandas as pd

# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
     dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

###  Combining DataFrames from multiple data files

In [ ]:
# Import pandas
import pandas as pd

# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total']
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())

## Reindexing DataFrames

<img src="images/indicesvsindexes.png" />

In [ ]:
# Import pandas
import pandas as pd

# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv('monthly_max_temp.csv', index_col='Month')

# Print the head of weather1
print(weather1.head())

# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index()

# Print the head of weather2
print(weather2.head())

# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending=False)

# Print the head of weather3
print(weather3.head())

# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 = weather1.sort_values('Max TemperatureF')

# Print the head of weather4
print(weather4.head())

### Reindexing DataFrame from a list

Another common technique is to reindex a DataFrame using the Index of another DataFrame. The DataFrame .reindex() method can accept the Index of a DataFrame or Series as input. You can access the Index of a DataFrame with its .index attribute.

In [ ]:
# Import pandas
import pandas as pd

# This list of month abbreviations has been pre-loaded as year.
# In [2]: print(year)
# ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)

# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
# ffill() method replaces null values with the last preceding non-null value
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)

###  Reindexing using another DataFrame Index

In [ ]:
# Import pandas
import pandas as pd

# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)

# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)

## Arithmetic with Series & DataFrames

In [ ]:
import pandas as pd

Company = {"Acme Corporation": 19, "Hooli": 17, "Initech": 20, "Mediacore": 10, "Streeplex": 13}

january = pd.DataFrame(Company, Company.key)


print(january)

### Broadcasting in arithmetic formulas

In [ ]:
# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather[['Min TemperatureF', 'Mean TemperatureF', 'Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = ( temps_f - 32 ) * 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F', 'C')

# Print first 5 rows of temps_c
print(temps_c.head())

### Computing percentage growth of GDP (Gross Domestic Product)

In [ ]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv('GDP.csv', parse_dates=True, index_col='DATE')

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc['2008-1-1':]

# Print the last 8 rows of post2008
print(post2008.tail(8))

# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last()

# Print yearly
print(yearly)

# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change() * 100

# Print yearly again
print(yearly)

### Converting currency of stocks

In [ ]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('sp500.csv', parse_dates=True, index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('exchange.csv', parse_dates=True, index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[['Open', 'Close']]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds. Multiplies all dollar dataset * exchange['GBP/USD']
pounds = dollars.multiply(exchange['GBP/USD'], axis='rows')

## Concatenating data

* append() concats two dataframes keeping the indexes and the order of the indexes, no matter if there are duplicates in the concatenated dataset. Since having unique indexes is very useful, we can apply reset_index() right after appending two datasets. See the example below (Out11).

### Appending Series with nonunique Indices

In [ ]:
bronze = pd.Series({'United States':1052.0, 'Soviet Union':584.0, 'United Kingdom':505.0, 'France':475.0, 
                    'Germany':454.0})

silver = pd.Series({'United States': 1195.0, 'Soviet Union': 627.0, 'United Kingdom': 591.0, 'France': 461.0, 
                    'Italy': 394.0})

combined = bronze.append(silver)

print(combined)

combined.loc['United States']

### Appending pandas Series (preserves index)

In [ ]:
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv('sales-jan-2015.csv', parse_dates=True, index_col='Date')

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv('sales-feb-2015.csv', parse_dates=True, index_col='Date')

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv('sales-mar-2015.csv', parse_dates=True, index_col='Date')

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

quarter.head()

# Date
# 2015-01-21 19:13:21    11
# 2015-01-09 05:23:51     8
# 2015-01-06 17:19:34    17
# 2015-01-02 09:51:06    16
# 2015-01-11 14:51:02    11
# Name: Units, dtype: int64

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc['feb 26, 2015': 'mar 7, 2015'])

# Compute & print total sales in quarter1
print(quarter1.sum())

In [ ]:
#### If no index_col is specified when importing the csv files, that's the result

In [21]: quarter1.head()
Out[21]: 
0    11
1     8
2    17
3    16
4    11
Name: Units, dtype: int64

### Concatenating pandas Series along row axis (preserves index)

In [ ]:
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month['Units'])

# Concatenate the list: quarter1
quarter1 = pd.concat(units, axis='rows')

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

In [ ]:
"""
In [7]: print(quarter1)
Date
2015-01-21 19:13:21    11
2015-01-09 05:23:51     8
2015-01-06 17:19:34    17
2015-01-02 09:51:06    16
2015-01-11 14:51:02    11
2015-01-01 07:31:20    18
2015-01-24 08:01:16     1
2015-01-25 15:40:07     6
2015-01-13 05:36:12     7
2015-01-03 18:00:19    19
2015-01-16 00:33:47    17
2015-01-16 07:21:12    13
2015-01-20 19:49:24    12
2015-01-26 01:50:25    14
2015-01-15 02:38:25    16
2015-01-06 13:47:37    16
2015-01-15 15:33:40     7
2015-01-27 07:11:55    18
2015-01-20 11:28:02    13
2015-01-16 19:20:46     8
2015-02-26 08:57:45     4
2015-02-16 12:09:19    10
2015-02-03 14:14:18    13
2015-02-02 08:33:01     3
2015-02-25 00:29:00    10
2015-02-05 01:53:06    19
2015-02-09 08:57:30    19
2015-02-11 20:03:08     7
2015-02-04 21:52:45    14
2015-02-09 13:09:55     7
2015-02-07 22:58:10     1
2015-02-11 22:50:44     4
2015-02-26 08:58:51     1
2015-02-05 22:05:03    10
2015-02-04 15:36:29    13
2015-02-19 16:02:58    10
2015-02-19 10:59:33    16
2015-02-02 20:54:49     9
2015-02-21 05:01:26     3
2015-02-21 20:41:47     3
2015-03-22 14:42:25     6
2015-03-12 18:33:06    19
2015-03-22 03:58:28     8
2015-03-15 00:53:12    19
2015-03-17 19:25:37    10
2015-03-16 05:54:06     3
2015-03-25 10:18:10     9
2015-03-25 16:42:42    12
2015-03-26 05:20:04     3
2015-03-06 10:11:45    17
2015-03-22 21:14:39    11
2015-03-17 19:38:12     8
2015-03-28 19:20:38     5
2015-03-13 04:41:32     8
2015-03-06 02:03:56    17
2015-03-13 11:40:16    11
2015-03-27 08:29:45     6
2015-03-21 06:42:41    19
2015-03-15 08:50:45    18
2015-03-13 16:25:24     9
Name: Units, dtype: int64


n [9]: print(units[0])
Date
2015-01-21 19:13:21    11
2015-01-09 05:23:51     8
2015-01-06 17:19:34    17
2015-01-02 09:51:06    16
2015-01-11 14:51:02    11
2015-01-01 07:31:20    18
2015-01-24 08:01:16     1
2015-01-25 15:40:07     6
2015-01-13 05:36:12     7
2015-01-03 18:00:19    19
2015-01-16 00:33:47    17
2015-01-16 07:21:12    13
2015-01-20 19:49:24    12
2015-01-26 01:50:25    14
2015-01-15 02:38:25    16
2015-01-06 13:47:37    16
2015-01-15 15:33:40     7
2015-01-27 07:11:55    18
2015-01-20 11:28:02    13
2015-01-16 19:20:46     8
Name: Units, dtype: int64

In [12]: print(units[0][19])
8

In [14]: print(len(units[0]))
20

"""

## Appending & concatenating DataFrames

### Appending DataFrames with ignore_index

In [ ]:
# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981, ignore_index=True)

# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)

# Print all rows that contain the name 'Morgan'
print(combined_names.loc[combined_names.name == 'Morgan'])

# print(combined_names.loc[combined_names['name'] == 'Morgan'])

### Concatenating pandas DataFrames along column axis

In [ ]:
# Concatenate weather_max and weather_mean, as a list,  horizontally: weather (axis)
weather = pd.concat([weather_max, weather_mean], axis=1)

# Print weather
print(weather)

### Reading multiple files to build a DataFrame

In [ ]:
for medal in medal_types:

    # Create the file name: file_name
    file_name = "%s_top5.csv" % medal
    
    # Create list of column names: columns
    columns = ['Country', medal]
    
    # Read file_name into a DataFrame: df
    medal_df = pd.read_csv(file_name,index_col='Country', header=0, names=columns)

    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals
medals = pd.concat(medals, axis="columns")

# Print medals
print(medals)

### Concatenating vertically to get MultiIndexed rows

In [ ]:
for medal in medal_types:

    file_name = "%s_top5.csv" % medal
    
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, index_col="Country")
    
    # Append medal_df to medals
    medals.append(medal_df)
    
# Concatenate medals: medals
medals = pd.concat(medals,keys=['bronze', 'silver', 'gold'])

# Print medals in entirety
print(medals)

### Slicing MultiIndexed DataFrames

In [ ]:
# Sort the entries of medals: medals_sorted
medals_sorted = medals.sort_index(level=0)

# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

# Print data about silver medals
print(medals_sorted.loc['silver'])

# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:, 'United Kingdom'], :])

### Concatenating horizontally to get MultiIndexed columns

In [ ]:
# Concatenate dataframes: february
february = pd.concat(dataframes, axis=1, keys=['Hardware', 'Software', 'Service'])

# Print february.info()
print(february.info())

# Assign pd.IndexSlice: idx
idx = pd.IndexSlice

# Create the slice: slice_2_8
slice_2_8 = february.loc['Feb 2, 2015':'Feb 8, 2015', idx[:, 'Company']]

# Print slice_2_8
print(slice_2_8)

### Concatenating DataFrames from a dict

In [ ]:
# Make the list of tuples: month_list
month_list = [('january', jan), ('february', feb), ('march', mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby('Company').sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])

## Outer & inner joins

### Concatenating DataFrames with inner join

In [ ]:
# Create the list of DataFrames: medal_list
medal_list = [bronze, silver, gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list, keys=['bronze', 'silver', 'gold'], axis=1, join='inner')

# Print medals
print(medals)


### Resampling & concatenating DataFrames with inner join

In [ ]:
# Resample and tidy china: china_annual
china_annual = china.resample('A').pct_change(10).dropna()

# Resample and tidy us: us_annual
us_annual = us.resample('A').pct_change(10).dropna()

# Concatenate china_annual and us_annual: gdp
gdp = pd.concat([china_annual, us_annual], join='inner', axis=1)

# Resample gdp and print
print(gdp.resample('10A').last())


"""
In [3]: china.info()
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55 entries, 1961-01-01 to 2015-01-01
Data columns (total 1 columns):
China    55 non-null float64
dtypes: float64(1)
memory usage: 880.0 bytes


In [7]: china_annual.info()
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 1971-12-31 to 2015-12-31
Freq: A-DEC
Data columns (total 1 columns):
China    45 non-null float64
dtypes: float64(1)
memory usage: 720.0 bytes


gdp = pd.concat([china_annual, us_annual])

In [9]: gdp.head()
Out[9]: 
               China  US
Year                    
1971-12-31  0.988860 NaN
1972-12-31  1.402472 NaN
1973-12-31  1.730085 NaN
1974-12-31  1.408556 NaN
1975-12-31  1.311927 NaN


In [10]: gdp = pd.concat([china_annual, us_annual], join='inner', axis=1)

In [11]: gdp.head()
Out[11]: 
               China        US
Year                          
1971-12-31  0.988860  1.073188
1972-12-31  1.402472  1.119273
1973-12-31  1.730085  1.237090
1974-12-31  1.408556  1.258503
1975-12-31  1.311927  1.270900


"""

## Merging DataFrames

### Merging company DataFrames (by default pd.merge() is an inner join)

In [ ]:
revenue_tuple = [('Austin', 100), ('Denver', 83), ('Springfield', 4)]
managers_tuple = [('Austin', 'Chalers'), ('Denver', 'Joel'), ('Mendocino', 'Brett')]

revenue = pd.DataFrame(revenue_tuple, index=range(len(revenue_tuple)), columns=['city', 'revenue'])
managers = pd.DataFrame(managers_tuple, index=range(len(managers_tuple)), columns=['city', 'managers'])

print(revenue, "\n")
print(managers, "\n")

# by default pd.merge() is an inner join so the not-matching rows are discarded 
combined = pd.merge(revenue, managers, on='city')
print(combined)

### Merging on a specific column

In [ ]:
revenue.loc[3] = ['Mendocino', 200]
revenue['branch_id'] = [10, 20, 30, 47]
managers.loc[3] = ['Springfield', 'Sally']
managers['branch_id'] = [10, 20, 47, 31]


print(revenue, "\n")
print(managers, "\n")

In [ ]:
# Merge revenue with managers on 'city': merge_by_city
merge_by_city = pd.merge(revenue, managers, on='city')

# Print merge_by_city
print(merge_by_city, '\n\n')

# Merge revenue with managers on 'branch_id': merge_by_id
merge_by_id = pd.merge(revenue, managers, on='branch_id')

# Print merge_by_id
print(merge_by_id)

### Merging on columns with non-matching labels

In [1]: revenue.head()
Out[1]: 
   branch_id         city  revenue state
0         10       Austin      100    TX
1         20       Denver       83    CO
2         30  Springfield        4    IL
3         47    Mendocino      200    CA

In [2]: managers.head()
Out[2]: 
        branch  branch_id   manager state
0       Austin         10  Charlers    TX
1       Denver         20      Joel    CO
2    Mendocino         47     Brett    CA
3  Springfield         31     Sally    MO

In [ ]:
# Merge revenue & managers on 'city' & 'branch': combined
combined = pd.merge(revenue, managers, left_on='city', right_on='branch')

# Print combined
print(combined)

### Merging on multiple columns

In [109]:
# Add 'state' column to revenue: revenue['state']
revenue['state'] = ['TX','CO','IL','CA']

# Add 'state' column to managers: managers['state']
managers['state'] = ['TX','CO','CA','MO']

print(revenue.head(), "\n")
print(managers.head(), "\n")

# Merge revenue & managers on 'branch_id', 'city', & 'state': combined
combined = pd.merge(revenue, managers, on=['branch_id', 'city', 'state'])

# Print combined
print(combined)

          city  revenue  branch_id state
0       Austin      100         10    TX
1       Denver       83         20    CO
2  Springfield        4         30    IL
3    Mendocino      200         47    CA

          city managers  branch_id state
0       Austin  Chalers         10    TX
1       Denver     Joel         20    CO
2    Mendocino    Brett         47    CA
3  Springfield    Sally         31    MO

        city  revenue  branch_id state managers
0     Austin      100         10    TX  Chalers
1     Denver       83         20    CO     Joel
2  Mendocino      200         47    CA    Brett

### Joining by Index

In [114]:
df1 = pd.merge(revenue, managers, on='branch_id')
print(df1, '\n\n')

df2 = pd.merge(managers, revenue, how='left')
print(df2, '\n\n')

df3 = revenue.join(managers, lsuffix='_rev', rsuffix='_mng', how='outer')
print(df3, '\n\n')

df4 = managers.join(revenue, lsuffix='_mgn', rsuffix='_rev', how='left')
print(df3, '\n\n')

      city_x  revenue  branch_id state_x     city_y managers state_y
0     Austin      100         10      TX     Austin  Chalers      TX
1     Denver       83         20      CO     Denver     Joel      CO
2  Mendocino      200         47      CA  Mendocino    Brett      CA


          city managers  branch_id state  revenue
0       Austin  Chalers         10    TX    100.0
1       Denver     Joel         20    CO     83.0
2    Mendocino    Brett         47    CA    200.0
3  Springfield    Sally         31    MO      NaN


      city_rev  revenue  branch_id_rev state_rev     city_mng managers  \
0       Austin      100             10        TX       Austin  Chalers
1       Denver       83             20        CO       Denver     Joel
2  Springfield        4             30        IL    Mendocino    Brett
3    Mendocino      200             47        CA  Springfield    Sally

   branch_id_mng state_mng
0             10        TX
1             20        CO
2             47        CA
3             31        MO


      city_rev  revenue  branch_id_rev state_rev     city_mng managers  \
0       Austin      100             10        TX       Austin  Chalers
1       Denver       83             20        CO       Denver     Joel
2  Springfield        4             30        IL    Mendocino    Brett
3    Mendocino      200             47        CA  Springfield    Sally

   branch_id_mng state_mng
0             10        TX
1             20        CO
2             47        CA
3             31        MO

#### Choosing a joining strategy

Suppose you have two DataFrames: students (with columns 'StudentID', 'LastName', 'FirstName', and 'Major') and midterm_results (with columns 'StudentID', 'Q1', 'Q2', and 'Q3' for their scores on midterm questions).

You want to combine the DataFrames into a single DataFrame grades, and be able to easily spot which students wrote the midterm and which didn't (their midterm question scores 'Q1', 'Q2', & 'Q3' should be filled with NaN values).

You also want to drop rows from midterm_results in which the StudentID is not found in students.

Which of the following strategies gives the desired result?

* [X] A left join: grades = pd.merge(students, midterm_results, how='left').
* [_] A right join: grades = pd.merge(students, midterm_results, how='right').
* [_] An inner join: grades = pd.merge(students, midterm_results, how='inner').
* [_] An outer join: grades = pd.merge(students, midterm_results, how='outer').

### Left & right merging on multiple columns

In [127]:
# create sales dataframe

sales_columns = ['city', 'state', 'units']

sales = pd.DataFrame(columns=sales_columns)

sales['city'] = ['Mendocino', 'Denver', 'Austin', 'Springfield', 'Springfield']
sales['state'] = ['CA', 'CO', 'TX', 'MO', 'IL']
sales['units'] = [1, 4, 2, 5, 1]

print(sales, "\n\n")

print(managers.head())

          city state  units
0    Mendocino    CA      1
1       Denver    CO      4
2       Austin    TX      2
3  Springfield    MO      5
4  Springfield    IL      1


          city managers  branch_id state
0       Austin  Chalers         10    TX
1       Denver     Joel         20    CO
2    Mendocino    Brett         47    CA
3  Springfield    Sally         31    MO

In [130]:
# Merge revenue and sales: revenue_and_sales
revenue_and_sales = pd.merge(revenue, sales, how='right', on=['city', 'state'])

# Print revenue_and_sales
print(revenue_and_sales)

          city  revenue  branch_id state  units
0       Austin    100.0       10.0    TX      2
1       Denver     83.0       20.0    CO      4
2  Springfield      4.0       30.0    IL      1
3    Mendocino    200.0       47.0    CA      1
4  Springfield      NaN        NaN    MO      5

In [133]:
# Merge sales and managers: sales_and_managers

managers = managers.rename(columns={'city':'branch'})

sales_and_managers = pd.merge(sales, managers, how='left', left_on=['city', 'state'], right_on=['branch', 'state'])

# Print sales_and_managers
print(sales_and_managers)

          city state  units       branch managers  branch_id
0    Mendocino    CA      1    Mendocino    Brett       47.0
1       Denver    CO      4       Denver     Joel       20.0
2       Austin    TX      2       Austin  Chalers       10.0
3  Springfield    MO      5  Springfield    Sally       31.0
4  Springfield    IL      1          NaN      NaN        NaN

### Merging DataFrames with outer join

In [148]:
# Perform the first merge: merge_default ---> inner join
print("Sales and managers\n\n", sales_and_managers, "\n\n")
print("Revenue and sales\n\n", revenue_and_sales, "\n\n")

merge_default = pd.merge(sales_and_managers, revenue_and_sales)

# Print merge_default
print("Merge default (inner join)\n\n", merge_default, "\n\n\n\n")

# Perform the second merge: merge_outer
merge_outer = pd.merge(sales_and_managers, revenue_and_sales, how='outer')

# Print merge_outer
print("Merge outer\n\n", merge_outer, "\n\n\n\n")

# Perform the third merge: merge_outer_on
merge_outer_on = pd.merge(sales_and_managers, revenue_and_sales, on=['city','state'], how="outer")

# Print merge_outer_on
print("Merge outer on city and state \n\n", merge_outer_on, "\n\n")

Sales and managers

           city state  units       branch managers  branch_id
0    Mendocino    CA      1    Mendocino    Brett       47.0
1       Denver    CO      4       Denver     Joel       20.0
2       Austin    TX      2       Austin  Chalers       10.0
3  Springfield    MO      5  Springfield    Sally       31.0
4  Springfield    IL      1          NaN      NaN        NaN


Revenue and sales

           city  revenue  branch_id state  units
0       Austin    100.0       10.0    TX      2
1       Denver     83.0       20.0    CO      4
2  Springfield      4.0       30.0    IL      1
3    Mendocino    200.0       47.0    CA      1
4  Springfield      NaN        NaN    MO      5


Merge default (inner join)

         city state  units     branch managers  branch_id  revenue
0  Mendocino    CA      1  Mendocino    Brett       47.0    200.0
1     Denver    CO      4     Denver     Joel       20.0     83.0
2     Austin    TX      2     Austin  Chalers       10.0    100.0




Merge outer

           city state  units       branch managers  branch_id  revenue
0    Mendocino    CA      1    Mendocino    Brett       47.0    200.0
1       Denver    CO      4       Denver     Joel       20.0     83.0
2       Austin    TX      2       Austin  Chalers       10.0    100.0
3  Springfield    MO      5  Springfield    Sally       31.0      NaN
4  Springfield    IL      1          NaN      NaN        NaN      NaN
5  Springfield    IL      1          NaN      NaN       30.0      4.0
6  Springfield    MO      5          NaN      NaN        NaN      NaN




Merge outer on city and state

           city state  units_x       branch managers  branch_id_x  revenue  \
0    Mendocino    CA        1    Mendocino    Brett         47.0    200.0
1       Denver    CO        4       Denver     Joel         20.0     83.0
2       Austin    TX        2       Austin  Chalers         10.0    100.0
3  Springfield    MO        5  Springfield    Sally         31.0      NaN
4  Springfield    IL        1          NaN      NaN          NaN      4.0

   branch_id_y  units_y
0         47.0        1
1         20.0        4
2         10.0        2
3          NaN        5
4         30.0        1

### Using merge_ordered()

In [153]:
austin = pd.DataFrame(columns=['date', 'ratings'])
houston = pd.DataFrame(columns=['date', 'ratings'])

austin['date'] = ['2016-01-01', '2016-02-08', '2016-01-17']
austin['ratings'] = ['Cloudy', 'Cloudy', 'Sunny']

houston['date'] = ['2016-01-04', '2016-01-01', '2016-03-01']
houston['ratings'] = ['Rainy', 'Cloudy', 'Sunny']


print(austin, "\n")
print(houston, "\n")

         date ratings
0  2016-01-01  Cloudy
1  2016-02-08  Cloudy
2  2016-01-17   Sunny

         date ratings
0  2016-01-04   Rainy
1  2016-01-01  Cloudy
2  2016-03-01   Sunny

In [161]:
# Perform the first ordered merge: tx_weather
tx_weather = pd.merge_ordered(austin, houston)

# Print tx_weather
print("Merge ordered\n\n", tx_weather, "\n")

# Perform the second ordered merge: tx_weather_suff
tx_weather_suff = pd.merge_ordered(austin, houston, on='date', suffixes=['_aus','_hus'])

# Print tx_weather_suff
print(tx_weather_suff, "\n\n")

# Perform the third ordered merge: tx_weather_ffill
# This time, in addition to the on and suffixes parameters, specify the keyword argument fill_method='ffill' 
# to use forward-filling to replace NaN entries with the most recent non-null entry, 
# and hit 'Submit Answer' to examine the contents of the merged DataFrames!

tx_weather_ffill = pd.merge_ordered(austin, houston, on='date', suffixes=['_aus','_hus'], fill_method='ffill')

# Print tx_weather_ffill
print(tx_weather_ffill)

Merge ordered

          date ratings
0  2016-01-01  Cloudy
1  2016-01-04   Rainy
2  2016-01-17   Sunny
3  2016-02-08  Cloudy
4  2016-03-01   Sunny

         date ratings_aus ratings_hus
0  2016-01-01      Cloudy      Cloudy
1  2016-01-04         NaN       Rainy
2  2016-01-17       Sunny         NaN
3  2016-02-08      Cloudy         NaN
4  2016-03-01         NaN       Sunny


         date ratings_aus ratings_hus
0  2016-01-01      Cloudy      Cloudy
1  2016-01-04      Cloudy       Rainy
2  2016-01-17       Sunny       Rainy
3  2016-02-08      Cloudy       Rainy
4  2016-03-01      Cloudy       Sunny

### Using merge_asof()

Similar to pd.merge_ordered(), the pd.merge_asof() function will also merge values in order using the on column, but for each row in the left DataFrame, only rows from the right DataFrame whose 'on' column values are less than the left value will be kept.

This function can be use to align disparate datetime frequencies without having to first resample.

In [ ]:
# Merge auto and oil: merged
merged = pd.merge_asof(auto, oil, left_on='yr', right_on='Date')

# Print the tail of merged
print(merged.tail())

# Resample merged: yearly
yearly = merged.resample('A', on='Date')[['mpg','Price']].mean()

# Print yearly
print(yearly)

# print yearly.corr()
print(yearly.corr())

## Case Study - Summer Olympics

### Loading Olympic edition DataFrame

In [ ]:
#Import pandas
import pandas as pd

# Create file path: file_path
file_path = 'Summer Olympic medallists 1896 to 2008 - EDITIONS.tsv'

# Load DataFrame from file_path: editions
editions = pd.read_csv(file_path, sep='\t')

# Extract the relevant columns: editions
editions = editions[['Edition', 'Grand Total', 'City', 'Country']]

# Print editions DataFrame
print(editions)

### Loading IOC codes DataFrame

In [ ]:
# Import pandas
import pandas as pd

# Create the file path: file_path
file_path = 'Summer Olympic medallists 1896 to 2008 - IOC COUNTRY CODES.csv'

# Load DataFrame from file_path: ioc_codes
ioc_codes = pd.read_csv(file_path)

# Extract the relevant columns: ioc_codes
ioc_codes = ioc_codes[['Country', 'NOC']]

# Print first and last 5 rows of ioc_codes
print(ioc_codes.head())
print(ioc_codes.tail())

### Building medals DataFrame

In [ ]:
# Import pandas
import pandas as pd

# Create empty dictionary: medals_dict
medals_dict = {}

for year in editions['Edition']:

    # Create the file path: file_path
    file_path = 'summer_{:d}.csv'.format(year)
    
    # Load file_path into a DataFrame: medals_dict[year]
    medals_dict[year] = pd.read_csv(file_path)
    
    # Extract relevant columns: medals_dict[year]
    medals_dict[year] =  medals_dict[year][['Athlete', 'NOC', 'Medal']]
    
    # Assign year to column 'Edition' of medals_dict
    medals_dict[year]['Edition'] = year
    
# Concatenate medals_dict: medals
medals = pd.concat(medals_dict, ignore_index=True)

# Print first and last 5 rows of medals
print(medals.head())
print(medals.tail())

### Counting medals by country/edition in a pivot table

In [ ]:
# Construct the pivot_table: medal_counts
medal_counts = medals.pivot_table(index='Edition', values='Athlete', columns='NOC', aggfunc='count')

# Print the first & last 5 rows of medal_counts
print(medal_counts.head())
print(medal_counts.tail())

### Computing fraction of medals per Olympic edition

In [ ]:
# Set Index of editions: totals
totals = editions.set_index('Edition')

# Reassign totals['Grand Total']: totals
totals = totals['Grand Total']

# Divide medal_counts by totals: fractions
fractions = medal_counts.divide(totals, axis='rows')

# Print first & last 5 rows of fractions
print(fractions.head())
print(fractions.tail())

### Computing percentage change in fraction of medals won

In [ ]:
# Apply the expanding mean: mean_fractions
mean_fractions = fractions.expanding().mean()

# Compute the percentage change: fractions_change
fractions_change = mean_fractions.pct_change() * 100

# Reset the index of fractions_change: fractions_change
fractions_change = fractions_change.reset_index('Edition')

# Print first & last 5 rows of fractions_change
print(fractions_change.head())
print(fractions_change.tail())

### Building hosts DataFrame

In [ ]:
# Import pandas
import pandas as pd

# Left join editions and ioc_codes: hosts
hosts = pd.merge(editions, ioc_codes, how='left')

# Extract relevant columns and set index: hosts
hosts = hosts[['Edition', 'NOC']].set_index('Edition')

# Fix missing 'NOC' values of hosts
print(hosts.loc[hosts.NOC.isnull()])
hosts.loc[1972, 'NOC'] = 'FRG'
hosts.loc[1980, 'NOC'] = 'URS'
hosts.loc[1988, 'NOC'] = 'KOR'

# Reset Index of hosts: hosts
hosts= hosts.reset_index()

# Print hosts
print(hosts)

### Reshaping for analysis

In [ ]:
# Import pandas
import pandas as pd

# Reshape fractions_change: reshaped
reshaped = pd.melt(fractions_change, id_vars='Edition', value_name='Change')

# Print reshaped.shape and fractions_change.shape
print(reshaped.shape, fractions_change.shape)

# Extract rows from reshaped where 'NOC' == 'CHN': chn
chn = reshaped.loc[reshaped.NOC == 'CHN']

# Print last 5 rows of chn with .tail()
print(chn.tail())

### Merging to compute influence

In [ ]:
# Import pandas
import pandas as pd

# Merge reshaped and hosts: merged
merged = pd.merge(reshaped, hosts, how='inner')

# Print first 5 rows of merged
print(merged.head())

# Set Index of merged and sort it: influence
influence = merged.set_index('Edition').sort_index()

# Print first 5 rows of influence
print(influence.head())

### Plotting influence of host country

In [ ]:
# Import pyplot
import matplotlib.pyplot as plt

# Extract influence['Change']: change
change = influence.Change

# Make bar plot of change: ax
ax = change.plot(kind='bar')

# Customize the plot to improve readability
ax.set_ylabel("% Change of Host Country Medal Count")
ax.set_title("Is there a Host Country Advantage?")
ax.set_xticklabels(editions['City'])

# Display the plot
plt.show()